In [1]:
## 15 - August - 2023

In [2]:
# ! instructs notebook to treat command as a shell command
# !pip install pybaseball

In [3]:
from pybaseball import batting_stats
import numpy as np
import os
import pandas as pd

In [4]:
# stats_DataFrame = batting_stats(2004, 2023, qual=200)

In [5]:
# stats_DataFrame.to_csv('../Data/stats_DataFrame.csv', index=False)

In [6]:
stats_DataFrame = pd.read_csv('../Data/stats_DataFrame.csv')

In [7]:
stats_DataFrame = stats_DataFrame.groupby('IDfg', group_keys=False).filter(lambda group: group.shape[0] > 1)

In [8]:
def war_shifter(players_group):
    players_group = players_group.sort_values('Season')
    players_group['next_season_WAR'] = players_group['WAR'].shift(-1)
    return players_group

In [9]:
stats_DataFrame = stats_DataFrame.groupby('IDfg', group_keys=False).apply(war_shifter)

In [10]:
stats_DataFrame.head(3)

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA,L-WAR,next_season_WAR
3762,1,2006,Alfredo Amezaga,FLA,28,132,334,378,87,72,...,NaN,NaN,0,0.188,0.256,NaN,NaN,NaN,1.1,2.0
2457,1,2007,Alfredo Amezaga,FLA,29,133,400,448,105,80,...,0.0,NaN,0,0.175,0.227,NaN,NaN,NaN,2.0,1.2
3590,1,2008,Alfredo Amezaga,FLA,30,125,311,337,82,61,...,0.0,NaN,0,0.178,0.244,NaN,NaN,NaN,1.2,NaN

In [12]:
null_values_count_series = stats_DataFrame.isnull().sum()
full_columns_series = null_values_count_series[null_values_count_series == 0]
stats_DataFrame = stats_DataFrame[list(full_columns_series.index) + ['next_season_WAR']].copy()